
.flink .post-cards {
  margin: -10px 10px 0;
}
.flink .post-cards .md-links {
  overflow: auto;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.flink .post-cards .md-links > .md-links-item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 20px 7px;
  padding: 0;
  width: calc(100% / 3 - 14px);
  height: 90px;
  border-radius: 8px;
  list-style: none;
  line-height: 17px;
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
.flink .post-cards .md-links > .md-links-item:hover img {
  -webkit-transform: rotate(540deg);
  -moz-transform: rotate(540deg);
  -o-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  transform: rotate(540deg);
}
.flink .post-cards .md-links > .md-links-item:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #ff7ad7;
  content: '';
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.flink .post-cards .md-links > .md-links-item:hover:before,
.flink .post-cards .md-links > .md-links-item:focus:before,
.flink .post-cards .md-links > .md-links-item:active:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.flink .post-cards .md-links > .md-links-item a {
  color: #333;
  text-decoration: none;
}
.flink .post-cards .md-links > .md-links-item a img {
  float: left;
  margin: 11px 10px;
  padding: 4px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.flink .post-cards .md-links > .md-links-item a .md-links-title {
  overflow: hidden;
  padding: 16px 10px 0 0;
  height: 40px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 20px;
}
.flink .post-cards .md-links > .md-links-item a .md-links-des {
  overflow: hidden;
  padding: 16px 10px;
  height: 50px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}
.flink .comment-word {
  font-weight: bold;
  font-size: 1.7em;
}
@media screen and (max-width: 1100px) {
  .flink .md-links .md-links-item {
    width: calc(50% - 14px) !important;
  }
}
@media screen and (max-width: 600px) {
  .flink .md-links .md-links-item {
    width: calc(100% - 14px) !important;
  }
}

.layout_page {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1600px;
}
#recent-posts {
  width: 60%;
}
.tag-cloud,
#page,
.category-content,
.flink {
  padding: 40px 44px 44px;
}
#page,
.category-content,
#archive,
.tag-cloud,
.flink,
#tag,
#category {
  margin-top: 20px;
  width: 100%;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
  box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
